  <aside class="bg-dark">
      <div class="container text-center">
          <div class="Availablity and pricing">
              <!--<h2>Free Download at Start Bootstrap!</h2>-->
              <!--<a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>-->
        <div class="header-content-inner">
          <p>Availabilty and pricing</p>
          <br>
          <p1> * Prices vary depanding on the season! April-june: 80EU/night </p1>
           
        </div>
            </div>
  </aside>

