<section id="Price">  
<aside class="bg-dark">
      <div class="container text-center">
          <div class="Price">
              <!--<h2>Free Download at Start Bootstrap!</h2>-->
              <!--<a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>-->
        <div class="header-content-inner">
          <h2 class="section-heading">Availability and pricing</h2>
          <br>
          <p1> * Prices vary depanding on the season!
            <br>
            April-june: 90EU/night
            <br> 
            June- September: 110Eu/night 
           <br>
            *The week of Ultra Music Festival (July 4th - July 9th) 300EU/night </p1>
            </div>
            </div>
  </aside>
</section>
