<section id="price">  
<aside class="bg-dark">
      <div class="container text-center">
          <div class="Price">
              <!--<h2>Free Download at Start Bootstrap!</h2>-->
              <!--<a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>-->
        <div class="header-content-inner">
          <h2 class="section-heading">Pricing</h2>
              <p> The price rate starts at 80EU/night.</p> 
              <br>
              <p1> Price varies depending on season and length of stay!</p>
        </div>
        </div>
  </aside>
</section>
