<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Amenities</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bed wow bounceIn text-primary"></i>
                    <h3>2 Bedrooms</h3>
                    <p class="text-muted">Each bedroom is suitable to fit 3 persons!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <i class="fa fa-4x fa-rss wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Stay connected</h3>
                    <p class="text-muted">Wireless internet and satillite TV with over 250 channels</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-asterisk wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Keeping it cool!</h3>
                    <p class="text-muted"> Air conditioning, extra fans and heaters for those enjoying a winter vacation</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-coffee wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>The kitchen</h3>
                    <p class="text-muted">Fully equipped with appliances! Coffee machine, microwave, stove and oven</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bath wow bounceIn text-primary"></i>
                    <h3>Bathroom</h3>
                    <p class="text-muted">We supply each guest with a set of towels. A Washing machine is available</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wine-glass wow bounceIn text-primary"></i>
                    <h3>Bathroom</h3>
                    <p class="text-muted">We supply each guest with a set of towels. Washing machine available</p>
                </div>
            </div>
            
    </div>
</section>
