<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Amenities</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bed wow bounceIn text-primary"></i>
                    <h3>2 Bedrooms</h3>
                    <p class="text-muted">Each bedroom is suitable to fit 3 persons!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <i class="fa fa-4x fa-rss wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Stay connected</h3>
                    <p class="text-muted">Wireless internet and satillite TV with over 250 channels</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-asterisk wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Keeping it cool!</h3>
                    <p class="text-muted"> Air conditioning, extra fans and heaters for those enjoying a winter vacation</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-coffee wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>The kitchen</h3>
                    <p class="text-muted">Fully equipped with appliances! Coffee machine, microwave, stove and oven</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fas-fa-landmark wow bounceIn text-primary"></i>
                    <h3>In tow</h3>
                    <p class="text-muted">The walls of Diocletians Palace are just a walk away. During the day you can enjoy the historic sights and party during the evening!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-child wow bounceIn text-primary"></i>
                    <h3>For families</h3>
                    <p class="text-muted">We offer a crib and high chair for families with children</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-anchor fa-4x wow bounceIn text-primary"></i>
                    <h3>Beach</h3>
                    <p class="text-muted">The beach Bacvice is only a 10 minute walk for the apartment. There are many other beaches to go to and getting around is really easy</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-tint fa-4x wow bounceIn text-primary"></i>
                    <h3>Towels</h3>
                    <p class="text-muted">Each guest is given a set of towels. Extra towels for those staying longer will be provided upon request.</p>
                </div>
            </div>
            
    </div>
</section>
